@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;700&display=swap');


$text-font: 'Khula', serif;
$title-font: 'Source Serif 4', serif;

$title-font-size-large :  clamp(2rem, 1.212vw + 1.545rem, 3rem);
$title-font-size-medium :  clamp(1.5rem, 2vw + 0.375rem, 2rem);
$title-font-size-small :  clamp(1rem, 2vw + 0.375rem, 1.2rem);

$white-text : #FFF;
$title-color : #172039;
$text-color : #5E5E5E;

$title-size :48px;
$title-letterspacing: -0.03em;
$title-lineheight: 58px;

$text-size :16px;
$text-lineheight: 20px;

$background-color: #F1F2F4;
$primary-color: #CC232A;
$clamped-padding64: clamp(1rem, 5.926vw - 0.333rem, 4rem);
:root{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

    background-color: $background-color;
}

.root{
    vertical-align: baseline;
}

.main-nav{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 32px 64px;
    align-items: center;
    .logo{
        flex-basis: calc(100% / 3);
        max-width: 200px;
        max-height: 60px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .navigation-links{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 32px;

        .link{
            font-family: $text-font;
            font-size: clamp(1rem, 0.447vw + 0.713rem, 1.25rem);
            text-decoration: none;
            color: $text-color;
            font-weight: 600;

            text-transform: uppercase;
            text-align: center;

            &:hover{
                color: $title-color;
            }
        }
    }

    @media screen and (max-width: 900px)  {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    @media screen and (max-width: 550px)  {
        .navigation-links{
            display: flex;
            flex-direction: column;
        }
    }
}



.hero-section{
    box-sizing: border-box;
    height: 850px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    color: $white-text;

    // @media screen and (min-width: 2000px ){ // Stops the background image repeating on larger screens
    //     position: relative;
    //     left: calc(50% - 1730px/2);
    // }


    .iconed-area{
        flex-grow: 1;
        height: 100%;
        width: 650px;

        .background{
            display: block;
            height: 100%;
            width: 650px;
            border-radius: 0 526px 430px 0;
            background-color: $primary-color;
        }

        .icons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 100%;
            padding: 64px;
            box-sizing: border-box;
            gap: 8px;
            width: calc(400px + 8px + 128px);

            .iconed-stat{       
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                flex-basis: calc(100%/3);
                flex-grow: 1;
                width: 100%;
                max-width: 200px;
                height:100% !important;
                min-height: 220px;
                background-color: $white-text;
                color: $title-color;
                border-radius: 32px;
                padding: 16px;
                h1{
                    font-size: $title-font-size-small;
                    font-family: $text-font;
                    text-align: center;
                }    

                .icon{
                    font-size: clamp(3rem, 3.765vw + 0.247rem, 5rem);
                }

                @media screen and (min-width: 1170px){
                    &:nth-child(2){
                        align-self: flex-end;
                    }
                }

                @media screen and (min-width: 400px ){
                    &:nth-child(2){
                        align-self: flex-end;
                    }
                }
            }
        }
    }

    .content{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        height: 100%;
        padding: $clamped-padding64;

        width: 100%;
    }

    h1{
        font-size: $title-font-size-large;
        font-weight: 600;
        font-family: $title-font;
        letter-spacing: $title-letterspacing;
        width: 100%;
        max-width: 1000px;
        text-transform: uppercase;
    }

    p{
        font-size: 20px;
        font-family: $text-font;
        max-width: 900px;
    }

    @media screen and (max-width: 1170px){
        flex-direction: column;
        height: 100%;
        .content{
            width: 100%;
            max-width: none;
        }

        .iconed-area{
            width: 100%;

            .background{
                max-height: 400px;
                width: 100%;
                border-radius: 0 0 clamp(1rem, -1.5rem + 8vw, 3rem) clamp(1rem, -1.5rem + 8vw, 3rem);
                gap: 16px;
            }

            .icons{
                flex-direction: row;
                width: 100%;
        
            }
        }
    }

    
    @media screen and (max-width: 400px){
    
        .background{
            max-height: none !important;
            width: 100%;
            border-radius: 0 0 clamp(1rem, -1.5rem + 8vw, 3rem) clamp(1rem, -1.5rem + 8vw, 3rem);
            gap: 16px;
        }

        .icons{
            flex-direction: column !important;
            width: 100%;

        }
    }
}

.action-button{
    border: none;
    width: 240px;
    font-family: $text-font;
    font-size: 20px;
    text-transform: uppercase;

	display: block;
    background-color: $primary-color;
    color: $white-text;
	text-align: center;
	padding: 20px 0;
    margin-bottom: 8px;
    transition: all 0.2s;
    text-decoration: none;

    &:hover{
        cursor: pointer;
        background-color: #c83c41;
        border-bottom: 2px solid #ccc;
    }
}

.container {
    box-sizing: border-box;
    display:  flex;
    justify-content: center;
    padding: 32px;
    background-color: $background-color;
}

.services-section{
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .iconed-info-grid{
        max-width: 600px;

        display: grid;
        grid-template-columns: 290px 290px;
        grid-row: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        article{
            box-sizing: border-box;
            height: 330px;
            background-color: $white-text;
            border-radius: 8px;
            padding: 16px;

            display: flex;
            flex-direction: column;
            gap: 12px;


            h2{
                font-family: $text-font;
                font-size: 20px;
                color: $title-color;
                margin: 0;
            }
            p{
                margin: 0;
                font-family: $text-font;
                font-size: 16px;
                color: $text-color;
            }

            .icon{
                width: 80px;
                height: 80px;
            }
        }

        @media screen and (max-width: 1100px ) and (min-width: 801px) {
            display: flex;
            flex-direction: column;

            article{
                min-height: 220px;
                height: 100%;
            }
        }
    }

    .content{
        padding-top: 64px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;

        h3, h1, p{
            margin: 0;
            font-family: $text-font;
        }

        h1{
            color: $title-color;
            font-size: $title-font-size-large;
            line-height: 44px;
        }

        h3{
            font-weight: 300;
            font-size: 16px;
            color: $text-color;
        }

        p{
            color: $text-color;
            max-width: 535px;
            font-size: 20px;
        }

        .action-button{
            margin-top: auto;
        }
    }

    
    @media screen and (max-width: 800px)  {
        display: flex;
        flex-direction: column;

        .iconed-info-grid{
            max-width: none;

            display: grid;
            grid-template-columns: 1fr 1fr; /* Two columns with equal width */
            gap: 16px; /* Gap between columns */
            padding: 16px; /* Optional padding to provide some space around the content */
        }

        .content{
            padding: 16px;

            h1{
                max-width: none;
                text-align: left;
            }
            p{
                max-width: none;
                text-align: left;
            }
        }
    }

    @media screen and (max-width: 640px)  {
        .iconed-info-grid{
            max-width: none;
            display: grid;
            grid-template-columns: 1fr; /* Two columns with equal width */
            gap: 16px; /* Gap between columns */
            padding: 16px; /* Optional padding to provide some space around the content */
        
            article{
                height: 100%;    
            }
        }
    }
}

.about-us-section{
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: $title-font-size-small;
        text-align: center;
        max-width: 630px;

        font-family: $title-font;
        color: $title-color;
    }
    .line{
        position: relative;
        display: block;
        height: 8px;
        border: 0;

        margin: 2em 0;
        background-color: #CC232A;
    }

    .circle{
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background-color: #CC232A;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        &:nth-child(1)
        {
            top: 50%;
            left: 0%;
            transform: translate(-50%, -50%);
        }

        &:nth-child(3)
        {
            top: 50%;
            left: 100%;
            transform: translate(-50%, -50%);
        }
    }

    .information{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        gap: calc((100%/3) - 350px);
        .text-container{
            max-width: 350px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            
            h1{
                font-family: $title-font;
                color: $title-color; 
                margin: 0;
                text-align: center;
                font-size: $title-font-size-medium;
             }
             p{
                font-size: 16px;
                font-family: $text-font;
                margin: 0;
                color: $text-color; 
                text-align: center;
             }

            &:nth-child(1)
            {
                h1, p {
                    text-align: left;
                }
            }
    
            &:nth-child(3)
            {
                h1, p {
                    text-align: right;
                }
            }
        }
    }

    img{
        margin: 32px 0;
        width: 100%;
    }

    @media screen and (max-width: 800px)  {
        height: 100%;

        .content{
            display: flex;
            justify-content: center;
        }

        .line{
            position: relative;
            display: block;
            width: 8px;
            height: 400px;
            background-color: $primary-color;
        }
    
        .circle{
            width: 42px;
            height: 42px;
            border-radius: 100%;
            background-color: #CC232A;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:nth-child(1)
            {
                top: 0%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    
            &:nth-child(3)
            {
                top: 100%;
                left: 0%;
                transform: translate(-50%, -50%);
            }
        }
    

        .information{
            // display: flex;
            flex-direction: column;
            margin: 0 24px;
            // justify-content: space-between;
            
            h1,p{
                text-align: left !important;
            }
            

            .text-container{
                gap: 8px;
                &:nth-child(1)
                {
                    justify-content: flex-start;
                }

                &:nth-child(2)
                {
                    justify-content: center;
                }
        
                &:nth-child(3)
                {
                    justify-content: flex-end;
                }
            }
        }
    }

}

.join-us-section{
    max-width: 1330px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .content{
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1, h3, p{
            margin: 0;
        }

        h3{
            font-weight: 300;
            font-size: 16px;
            color: $text-color;
            font-family: $text-font;
        }

        h1{
            font-size: $title-font-size-large;
            font-family: $title-font;
            line-height: $title-lineheight;
            letter-spacing: $title-letterspacing;
            text-transform: uppercase;
        }

        p{
            font-size: 16px;
            font-family: $text-font;
            margin: 0;
            color: $text-color; 
            font-size: 16px;
        }
    }

    .image-container{
        flex-grow: 1;

        img{
            border-radius: 32px;
            width: 650px;
        }
    }

    @media screen and (max-width: 1320px)  {
        flex-direction: column;

        .image-container{
            img{
                width: 100%;
                border-radius: 0;
                height: 300px;
                object-fit: cover;
            }
        }

    }
}


.group-section{
    display: flex;
    flex-direction: row;

    .image-container{
        flex-basis: calc(100%/2);
        flex-grow: 1;
        
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            // height: 1000px;
        }
    }

    .groups-divisions{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;


        .offices-section{
            flex-basis: calc(100%/2);
            display: flex;
            flex-direction: column;
            gap: 8px;
            background-color: $background-color;
            padding: 32px;

            h1, h3, p{
                margin: 0;
            }

            h3{
                font-weight: 300;
                font-size: $title-font-size-small;
                color: $text-color;
                font-family: $text-font;
            }
    
            h1{
                font-size: $title-font-size-large;
                font-family: $title-font;
                line-height: $title-lineheight;
                letter-spacing: $title-letterspacing;
                text-transform: uppercase;
            }
    
            p{
                font-size: 16px;
                font-family: $text-font;
                margin: 0;
                color: $text-color; 
                font-size: 16px;
            }
        }
    }

    .map-section{
        flex-basis: calc(100%/2);
        display: flex;
        .information-holder, .map-container{
            flex-basis: calc(100% / 2);
        }

        .information-holder{
            box-sizing: border-box;
            background-color: $primary-color;
            padding: 32px;
            color: $white-text;
        }
        h1{
            margin: 0;
            font-size: $title-font-size-medium;
            font-family: $title-font;
            line-height: $title-lineheight;
            // color: $title-color;
        }
        p{
            font-size: $title-font-size-small;
            font-family: $text-font;
            margin: 0;
        }
    }

    @media screen and (max-width: 1170px)  {
        flex-direction: column-reverse;
        .map-section{
            flex-direction: column;
            display: inline-block;
            height: 100%;
            max-height: none;
            min-height: 400px;
            .map-container{
                height: 400px !important;
            }
        }
        .image-container{
            display: none;
        }
    }
}


.services-hero-section{
    height: 720px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    gap: 32px;


    h1, p{
        margin: 0;
        color: $white-text;
    }

    .text-container{
        h1{
            font-size: $title-font-size-large;
            font-family: $title-font;
            line-height: $title-lineheight;
            letter-spacing: $title-letterspacing;
            text-transform: uppercase;

            max-width: 960px;
            text-align: center;
            
            margin-bottom: 48px;
        }

        p{
            margin: 0;
            font-family: $text-font;
            font-size: 20px;
            height: 100%;
            max-width: 1060px;
            text-align: center;
        }
    }

    .services-navbar{
        display: flex;
        flex-direction: column;
        min-height: 110px;
        align-items: center;
        justify-content: center;
        gap: 32px;
        position: absolute;

        bottom: 0;
        

        .line{
            background-color: white;
            position: absolute;
            height: 2px;
            width: 100vw;
            top: 0%;
        }

        .links{
            display: flex;
            flex-direction: row;
            gap: 64px;
            font-size: clamp(1rem, 0.447vw + 0.713rem, 1.25rem);
            text-align: center;

        }
        .services-link{
            position: relative;
            font-size: clamp(1rem, 0.303vw + 0.886rem, 1.25rem);
            color: $white-text;
            font-family: $text-font;
            line-height: $text-lineheight;
            font-weight: 600;
            text-decoration: none;

            &::before{
                content: "";
                position: absolute;
                top: calc(20px -  110px/2 - 8px);
                height: 8px;
                width: 0;
                background-color: $primary-color;
                transition: width 0.3s ease;
            }

            &:hover::before{
                width: 100%;
            }

            &.active::before{
                transition-delay: 0.3s;
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 680px) {
        & {
            box-sizing: border-box;

            height: 100% !important;
            padding: 64px 16px;
            p{
                width: 100%;

            }
            .line{
                // display: none;
                position: relative !important;
                display: inline-block;

            }
            .services-navbar, .links, .services-link, .services-link::before{
                all: initial;
            }
            .services-navbar{ 
                flex-basis: calc(100% / 4);
                .links {
                    
                    all: initial;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    .services-link{
                        all: initial;
                        list-style: none;
                        font-family: $text-font;
                        font-size: 20px;
                        margin: 0;
                        color: $white-text;
                        border-left: 0px solid $primary-color;
                        font-size: 20px;
                        font-weight: 600;
                        font-style: normal;
                        text-transform: none;
                        line-height: 24px;
                        display: block;
                        padding: 4px;
                        transition: padding 0.2s ease-in;
                        &.active{
                            font-family: $text-font;
                            padding-left: 16px;
                            color: $white-text;
                            border-left: 2px solid $primary-color;
                        }
                        &:hover{
                            cursor: pointer;
                            color: $white-text;
                        }
                        &::before{
                            all: unset;
                        }
                    }
                }
            }
        }
    }
}

.services-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: $clamped-padding64;
    box-sizing: border-box;
    .wrapper{
        display: flex;
        flex-direction: column;
        max-width: 1170px;
        gap: 64px;
        
        .services-article{
            display: flex;
            flex-direction: row;
            gap: 16px;
            h1{
                font-size: $title-font-size-large;
                font-weight: 600;
                font-family: $title-font;
                // line-height: $title-lineheight;
                letter-spacing: $title-letterspacing;
                color: $title-color;
                max-width: 700px;
                text-transform: uppercase;
                margin: 0;
                margin-bottom: 16px;
                .full-stop{
                    margin-left: 8px;
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    background-color: $primary-color;
                }
            }

            p{
                font-size: 20px;
                font-family: $text-font;
                margin: 0;
                color: $text-color; 
                text-align: left;
             }

             &:nth-child(even){
                flex-direction: row-reverse;
             }
        }

        .text-container{
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            // max-width: 240px;
        }
        
        .image-holder{
            flex-grow: 1;
            display: flex;
            justify-content: center;  
            
           img{
                width: 100%;
                height: 100%;   
                max-width: 560px;
                max-height: 460px;
                object-fit: cover; 
            }
        }

        .icon-section{
            width: 400px;
            display: flex;
            flex-direction: column;
        }     
        .single-icon-section{
            .icon-holder{
                width: 280px;
                height: 280px;
                justify-content: center;
                gap: 16px;
                .icon{
                    width: 150px;
                    height: 150px;
                }
            }
        }
        .icon-holder{
            width: 200px;
            height: 200px;
            background-color: #FFF;

            box-sizing: border-box;
            padding: 8px;
            border-radius: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
            .icon{
                width: 100px;
                height: 100px;
            }
            h1{
                font-family: $text-font;
                font-size: $title-font-size-small;
                color: $title-color;
                margin: 0;
                text-align: center;
            }

            &:nth-child(2){
                align-self: flex-end;
            }
        }
    }
}

    
@media screen and (max-width: 1100px)  {
    .services-info{
        .services-article{
            align-items: center
        }
        .container{
            padding: 32px 0;
        }
        .content{
            flex-direction: column !important;
            align-items: center;
            height: 100%;

        }

        .image-holder{
            width: 100%;
            // max-width: none;
            // max-height: none;
            .icon-section{
                flex-direction: row;
                width: 100% !important;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex-wrap: wrap;
            }

        }
    }

    p{
        width: 100%;
    }

    .services-article{
        flex-direction: column !important;
    }
}


.group-divisions{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    gap: 16px;
    padding: 32px;
    .group{
        border-radius: 8px;
        max-width: 1170px;
        background-color: #F1F2F4;
        
        height: 100%;
        min-height: 500px;
        width: 100%;
        display: flex;
        flex-direction: row;
        
        h2{
            font-family: $text-font;
            color: $title-color;
            margin: 0;
            font-size: 20px;
        }

        p{
            font-family: $text-font;
            font-size: 20px;
            max-width: 760px;
            margin: 0;
            color: $text-color;
            
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .contact-information{
            flex-basis: calc(100% /3);
        }

        .group-information{
            box-sizing: border-box;
            padding: 32px;
            flex-grow: 1;
            
            p{margin-bottom: 32px;}
            
            .services-list{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                .line{
                    margin: 0 8px;
                    display: inline-block;
                    width: 1px;
                    height: 20px;
                    background-color: #172039;
                }
            }
        }

        .contact-information{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            padding: 32px;

            .contact-details, .address-details{
                max-width: 240px;
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 1170px){
        .group{
            flex-direction: column;
            .group-information{
                padding: 16px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    text-align: center;
                }
            }
            .contact-information{
                padding: 16px;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                .address-details, .contact-details{
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 850px ){
        .contact-information{
        
            flex-direction: column-reverse !important;

                h2{
                    text-align: center;

                }
            
            .action-button{
            width: 100%;
            }
        }
    }
    
}


.jobs-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // background-color: $primary-color;



    .container{
        background-color: inherit;
        max-width: 1170px;
    }

    .departments{
        ul{
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            gap: 8px;


            li{
                list-style: none;
                font-family: $text-font;
                font-size: 20px;
                margin: 0;
                color: $text-color;
                border-left: 0px solid $title-color;

                

                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                text-transform: none;
                line-height: 24px;
                display: block;
                padding: 4px;
                transition: padding 0.2s ease-in;
                &.active{
                    padding-left: 16px;
                    color: $title-color;
                    border-left: 2px solid $title-color;
                }
                &:hover{
                    cursor: pointer;
                    color: $title-color;
                }
            }
        }
    }

    .vacanacies{
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;

        }
        li{
            display: flex;
            text-decoration: none;
            list-style-type: none;
            min-height: 250px;
            height: 100%;
            background-color: #F1F2F4;
            align-items: center;

            box-sizing: border-box;
            padding: 16px;
            border-radius: 8px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);

            .text-container{
                flex-grow: 1;
                max-width: 800px;
                width: 100%;
                h1{
                    font-family: $title-font;
                    font-size: $title-font-size-medium;
                    margin: 0;
                    color: $title-color;
                } 
                p{
                    font-family: $text-font;
                    font-size: 20px;
                    margin: 0;
                    color: $text-color;
                }
            }
            .action-button{
                flex-basis: calc(100%/3);
                min-width: 200px;
            }

            @media screen and (max-width: 850px ){
                flex-direction: column;
            }
        }
    }

    @media screen and (max-width: 1170px ){
        .container{
            display: flex;
            flex-direction: column;

            .departments{
                ul{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                }

                li{
                    text-align: center;
                }
                .active{
                    font-weight: 600;
                    &.active{
                        padding-left: 0px;
                        color: $title-color;
                        border-left: 0px solid $title-color;
                        // padding-top: 4px;
                        color: $title-color;
                        border-top: 2px solid $title-color;
                    }
                }

            }
        }
    }
}

footer{
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-content: center;
    .container{
        max-width: 1160px;
        background-color: inherit;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    img{
       height: 60px; 
    }
    .social-links{
        display: flex;
        flex-direction: row;
        gap: 16px;
        .icon{
            font-size: 40px;
            color: #5E5E5E;
            font-weight: 400;
        }
    }
    p, a{
        font-size: 20px;
        font-family: $text-font;
        color: #5E5E5E;
        text-decoration: inherit;
        font-weight: 400;
    }
    .icon:hover, a:hover{
        color: #c2c2c2;
    }
    h1{
        font-size: $title-font-size-medium;
        font-family: $text-font;
        color: $white-text;
    }

    

    .column{
        display: flex;
        flex-direction: column;
    }

    .company-info{
        flex-basis: calc(100% /3);
    }
    .footer-navigation{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    @media screen and (max-width: 900px) {
        .container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .company-info{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
            justify-content: center;
            p{
                text-align: center;
                margin: 0px;
            }

        }

        .footer-navigation{
            flex-direction: column;

            .column{
                width: 100%;
            }
        }

    }
}

.title-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1170px;

    h1{
        font-size: $title-font-size-large;
        font-weight: 600;
        font-family: $title-font;
        letter-spacing: $title-letterspacing;
        color: $title-color;
        max-width: 700px;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 16px;
        .full-stop{
            margin-left: 8px;
            display: inline-block;
            height: 10px;
            width: 10px;
            background-color: $primary-color;
        }
    }

    p{
        font-size: 20px;
        font-family: $text-font;
        margin: 0;
        color: $text-color; 
        text-align: left;
        text-align: center;

     }

}